.workshop_container,
.workshop_Content,
.workshop_Sliderbox,
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.workshop_container {
  width: 100%;
  color: var(--whiteGoldColor);
  font-family: var(--fontFamilyText);
  font-size: var(--fontSizeText);
  background: left url("../../assets/Red_Wine_Colors/Framboise.png"),
    var(--blackBgGradient);
  padding: 2rem 1rem;

  .workshop_Content {
    width: 100%;
    gap: 2rem;

    .intro {
      align-items: center;
      text-align: center;
      gap: 2.5rem;

      .subtitle {
        font-family: var(--fontFamilyTitle);
        font-size: 2rem;
        color: var(--primaryColor);
        line-height: 2.4rem;
      }
      p {
        line-height: 1.8rem;
      }
    }

    .workshop_Sliderbox {
      width: 100%;
      max-width: 45rem;
      background: var(--blackBgGradientSmooth);
      box-shadow: var(--shadow);
      backdrop-filter: var(--bgBlur);
      padding: 2rem 1rem;
      border-radius: 5px;
      gap: 4rem;

      .sliders {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
      }

      .commentary_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        width: 100%;

        .TextWine {
          color: var(--secondaryColor);
        }
        #commentaryWine {
          background: var(--blackBgGradientSmooth);
          padding: 0.5rem;
          border-radius: 5px;
          border: 2px solid var(--smoothGoldColor);
          font-size: 1rem;
          max-width: 28rem;
        }
      }
    }
  }
}

/* -------------------------------- Tablet media queries--------------------------------- */

@media screen and (min-width: 768px) {
  .workshop_container {
    background: no-repeat bottom 2em left 36rem
        url("../../assets/Red_Wine_Colors/Framboise.png"),
      no-repeat top 30em right 5em
        url("../../assets/Gold_Blotches/Watercolor_Splatters 1.png"),
      var(--blackBgGradient);

    .workshop_Content {
      .intro {
        p {
          line-height: 2.4rem;
        }
      }
    }
  }
}
