.WorkshopEnding_container,
.WorkshopEnding_Content,
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--grayBgColor);
}

.WorkshopEnding_Content {
  margin: 0 5rem 0 5rem;
}

.WorkshopEnding_container {
  height: 100%;
  color: var(--whiteGoldColor);
  font-family: var(--fontFamilyText);
  font-size: var(--fontSizeText);
  min-height: 100vh;
}

.WorkshopEnding_winecontent {
  display: flex;
  margin: 2rem 0 5rem 0;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  background: var(--blackBgGradientSmooth);
  box-shadow: var(--shadow);
  backdrop-filter: var(--bgBlur);
  padding: 2rem;
  border-radius: 5px;

  .WorkshopEnding_imgWineContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1em;
    h2 {
      font-size: clamp(0.5rem, 4vw + 1rem, 1.2rem);
      text-align: center;
      color: var(--secondaryColor);
    }
    img {
      width: 100%;
    }
  }
  .TextWine {
    color: var(--secondaryColor);
  }
  .WorkshopEnding_textWineContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: dotted;
    border-width: 0;
    border-top-width: 1px;
    border-color: white;
    margin-top: 1em;
    padding-top: 1em;
    width: 100%;
  }
}

/* style for the text intro */
.intro {
  align-items: center;
  text-align: center;
  padding: 0.5rem;
}

.intro .subtitle {
  font-family: var(--fontFamilyTitle);
  font-size: 2rem;
  color: var(--primaryColor);
}

/* -------------------------------- Tablet media queries--------------------------------- */

@media screen and (min-width: 768px) and (orientation: portrait) {
  .intro {
    align-items: center;
    text-align: center;
    padding-inline: var(--paddingTablet);
  }

  .WorkshopEnding_container {
    background: no-repeat bottom 9em left 7em
        url("../../assets/Gold_Blotches/Watercolor_Blotch_2 1.png"),
      no-repeat top 30em right 5em
        url("../../assets/Gold_Blotches/Watercolor_Splatters 1.png"),
      var(--blackBgGradient);
  }

  .WorkshopEnding_winecontent {
    width: 95%;
    background: var(--blackBgGradientSmooth);
    box-shadow: var(--shadow);
    backdrop-filter: var(--bgBlur);
    border-radius: 5px;
  }
}

/* -------------------------------- Desktop media queries--------------------------------- */

@media screen and (min-width: 1024px) {
  .WorkshopEnding_container {
    min-height: 100vh;
  }

  .intro {
    align-items: center;
    text-align: center;
    padding-inline: var(--marginPageContent);
  }

  .WorkshopEnding_Content {
    height: 100%;
  }

  .WorkshopEnding_winecontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--blackBgGradientSmooth);
    box-shadow: var(--shadow);
    backdrop-filter: var(--bgBlur);
    padding: 2rem;
    border-radius: 5px;
    margin-bottom: 5%;

    .WorkshopEnding_imgWineContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      gap: 1em;

      img {
        width: 100%;
      }
    }

    .WorkshopEnding_textWineContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-style: dotted;
      border-width: 0;
      border-left-width: 1px;
      border-color: white;
      margin-left: 1em;
      padding: 1em;
      width: 100%;
    }
  }
}
