.dropdown {
  color: var(--whiteGoldColor);
  border: none;
  font-size: var(--fontSizeText);
  position: relative;

  .dropdownBtn {
    position: relative;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--smoothWhiteColor);
    font-size: var(--fontSizeText);
    padding-block: 0.6em;
    cursor: pointer;
    &.grey {
      color: var(--smoothWhiteColor);
    }
    &.selected {
      color: var(--whiteGoldColor);
    }
    &:focus {
      outline: none;
    }
  }

  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
    display: grid;
    place-content: center;
    font-size: 12px;
    &:hover {
      color: var(--redWineColor);
    }
  }

  .dropdownContent {
    position: absolute;
    background: var(--blackBgGradient);
    width: 100%;

    .dropdownInputs {
      display: flex;
      align-items: start;
      padding: 1rem;
      width: 100%;
      border: none;
      background: transparent;
      border-bottom: 1px solid var(--smoothWhiteColor);
      font-size: 1.2rem;
      color: var(--whiteGoldColor);

      &:last-of-type {
        border-radius: 0 0 5px 5px;
        border: none;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .dropdown {
    .dropdownBtn {
      font-size: 1.2rem;
      i {
        font-size: 1rem;
      }
    }
  }
}
