.searchBar {
  width: 25%;
  position: relative;
  display: flex;
  background: var(--blackBgGradientSmooth);
  border: 2px solid rgba(209, 181, 103, 0.3);
  border-radius: 50px;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
  .search {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--whiteGoldColor);
  }
  i {
    display: grid;
    place-content: center;
    color: var(--whiteGoldColor);
  }
  &:hover,
  &:focus-within {
    width: 40%;
    box-shadow: var(--shadow);
  }
}
