.winesManager {
  background: url("../../../assets/Red_Wine_Colors/Grenat.png") no-repeat left
      150px top 150px,
    var(--blackBgGradient);
  color: var(--whiteGoldColor);
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;

  .winesContent {
    padding: 3em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;

    .winesHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;

      h1 {
        font-size: var(--fontSizeH2);
        color: var(--primaryColor);
      }
      .searchAndAdd {
        width: 100%;
        display: flex;
        gap: 1em;
        justify-content: space-between;
        .searchBar {
          width: 100%;
        }
        .addButton {
          padding: 0 0.6rem;
          margin-right: 0.5rem;
          cursor: pointer;
        }
      }
    }
    .winesList {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;

      .wineCard {
        display: flex;
        position: relative;
        width: 100%;
        padding: 1rem;
        padding-left: calc(0.5em + 4px);
        gap: 1em;
        background: var(--blackBgGradient);
        backdrop-filter: var(--bgBlur);
        border-radius: 5px;
        box-shadow: var(--shadow);
        min-height: 8em;
        overflow: hidden;

        .colorBanner {
          width: 4px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          &.red {
            background-color: var(--redWineColor);
          }
          &.white {
            background-color: #fee347;
          }
        }

        .wineImg {
          width: 9rem;
          padding-block: 1em;
          border-radius: 5px;
          background: var(--blackBgGradient);
          box-shadow: 2px 5px 6px 2px rgba(18, 17, 11, 0.5);
          display: grid;
          place-items: center;
          i {
            color: var(--secondaryColor);
            font-size: 3em;
          }
          .bottleImg {
            width: 80%;
          }
        }

        .wineInfo {
          width: calc(100% - 7rem);
          display: flex;
          flex-direction: column;
          gap: 0.9em;
          justify-content: space-between;
          .description {
            display: none;
          }
          .linkContainer {
            display: flex;
            gap: 1rem;
            color: var(--primaryColor);
            .website {
              font-style: italic;
              font-size: 0.9rem;
              color: var(--primaryColor);
            }
          }
          .infoHeader {
            display: flex;
            flex-direction: column;
            gap: 0.8em;
            .wineHeader {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              gap: 1em;
              .wineTitle {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: left;
                gap: 0.3em;
                p:first-of-type {
                  color: var(--secondaryColor);
                  font-size: 1.4em;
                }
                .winery {
                  color: var(--whiteGoldColor);
                  font-style: italic;
                  font-size: 12px;
                  font-family: var(--fontFamilyText);
                  font-weight: 200;
                }
              }
              .buttons {
                display: flex;
                gap: 0.5em;

                .infoBtn,
                .archiveBtn {
                  padding: 0.4em;
                  display: grid;
                  place-items: center;
                  border-radius: 50px;
                  background-color: rgba(209, 181, 103, 0.1);
                  border: 1px solid rgba(209, 181, 103, 0.1);
                  color: rgba(209, 181, 103, 0.5);
                  i {
                    display: grid;
                    place-items: center;
                    font-size: 13px;
                  }
                  &:hover {
                    color: var(--whiteGoldColor);
                    cursor: pointer;
                    background-color: var(--smoothGoldColor);
                  }
                }
              }
            }
            .appellations {
              display: flex;
              gap: 0.5em;

              .appellation {
                max-width: 100%;
                padding: 0 1em;
                align-self: flex-start;
                border-radius: 50px;
                font-size: 0.8rem;
                text-align: left;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                line-height: 2em;
                font-family: var(--fontFamilyText);
                &.red {
                  background-color: rgba(154, 31, 73, 0.2);
                  border: 1px solid rgba(154, 31, 73, 1);
                }
                &.white {
                  background-color: rgba(255, 244, 181, 0.4);
                  border: 1px solid rgba(255, 244, 181, 1);
                }
                &:not(:first-of-type) {
                  display: none;
                }
              }
            }
          }
          .otherInfo {
            display: flex;
            flex-direction: column;
            gap: 0.7em;
            line-height: 1.3em;
            font-family: var(--fontFamilyText);

            .winery {
              font-style: italic;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
  .modalBg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--blackBgGradientSmooth);
    backdrop-filter: var(--bgBlur);
    display: grid;
    place-items: center;
  }
}

@media screen and (min-width: 512px) {
  .winesManager
    .winesContent
    .winesList
    .wineCard
    .wineInfo
    .infoHeader
    .appellations
    .appellation:not(:first-of-type) {
    display: block;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  .winesManager .winesContent .winesList .wineCard {
    .wineImg {
      width: 30%;
    }

    .wineInfo {
      .description {
        display: block;
        line-height: 1.3em;
        font-size: 0.9rem;
        font-family: var(--fontFamilyText);

        span {
          font-weight: 600;
          line-height: 1.8rem;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .winesManager .winesContent .winesList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
    align-items: flex-start;
    justify-content: center;

    .wineCard {
      max-width: 40%;
      flex-direction: column;
      padding-bottom: 1.5rem;
      gap: 1.4rem;

      .colorBanner {
        width: 40%;
        height: 6px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0 0 50px 50px;
      }

      .wineImg {
        width: 100%;
        min-height: 10rem;
        i {
          font-size: 5em;
        }
      }

      .wineInfo {
        width: 100%;
        gap: 1.5em;

        .infoHeader {
          gap: 1em;
          .appellations {
            flex-wrap: wrap;
            max-width: 100%;
            .appellation {
              max-width: 100%;
            }
          }
          .wineHeader {
            .wineTitle {
              gap: 0.3em;
              p:first-of-type {
                font-size: 1.6em;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .winesManager {
    background: url("../../../assets/Red_Wine_Colors/Grenat.png") no-repeat left
        800px top 150px,
      var(--blackBgGradient);
    .winesContent {
      padding-left: calc(370px + 2em);
      padding-right: 2em;

      .winesList {
        .wineCard {
          width: 30%;
          min-width: 300px;
        }
      }
    }
  }
}
