button {
  background: none;
  border: none;
}

.aromas {
  backdrop-filter: blur (10px);
  background: var(--blackBgGradientSmooth);
  box-shadow: var(--shadow);
  width: 80%;
  border-radius: 5px;
  backdrop-filter: var(--bgBlur);
  margin-top: 2rem;
  margin-bottom: 2rem;
  animation: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aromas h3 {
  color: white;
  font-style: italic;
  font-weight: 400;
  margin: 1rem;
  font-family: var(--fontFamilyTe);

  text-align: center;
}

.aromas img {
  height: 104px;
  width: 104px;
  border-radius: 60px;
  margin: 20px;
  transition: border-color 0.3s, box-shadow 0.3s;
  position: relative;
  object-fit: cover;
  margin: 1rem;
}

.aromas img.selected {
  border: 1px solid var(--primaryColor);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.aromas .img-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.aromas img:hover .img-overlay,
.aromas img.selected .img-overlay {
  opacity: 1;
}

.aromas .img-overlay {
  pointer-events: none;
}

.aromasSelection {
  display: flex;
  position: relative;
}

.aromasSelection .round {
  position: relative;
}

.aromasSelection .round.selected:before {
  content: "";
  position: absolute;
  top: 13px;
  left: 18px;
  width: 112px;
  height: 112px;
  outline: 1px solid var(--primaryColor);
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--primaryColor);
}

.aromasSelection .round.selected:after {
  content: attr(data-name);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50%, -50%;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(228, 39, 39);
}

.aromasSelection .round.selected .img-overlay {
  opacity: 1;
}

.aroma-name {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--fontFamilyTitle);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3px;
  background: var(--blackBgGradientSmooth);
  width: 71%;
  border-radius: 3px;
}

.colonne1 {
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
  width: fit-content;
  justify-content: center;
}

.colonne2 {
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
  width: fit-content;
  justify-content: center;
}

@media screen and ((min-width: 1024px)) {
  .aromasSelection {
    display: flex;
    flex-direction: column;
  }

  .colonne1 {
    display: flex;
    flex-direction: row;
  }

  .colonne2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .aromasSelection .round.selected:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 50%;

    transform: translateX(-50%);

    width: 112px;
    height: 112px;
    border: 1px solid var(--primaryColor);
    border-radius: 50%;
    box-shadow: 0 0 0 2px var(--primaryColor);
  }
}
