.SlidersContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.8rem;
  padding: 1rem;

  .Sliderbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    line-height: 2.2rem;
    gap: 1.6rem;

    .TitleSliders {
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 1.2rem;
      width: 100%;
      font-size: 1.4rem;
      h2 {
        font-family: var(--fontFamilyTitle);
        color: var(--secondaryColor);
      }

      img {
        width: 1.6rem;
      }
    }
  }
}

/* -------------------------------- Tablet media queries--------------------------------- */

@media screen and (min-width: 768px) {
  .SlidersContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    .Sliderbox {
      padding: 3.6rem;

      &:nth-child(1) {
        border-bottom: 2px dotted var(--smoothWhiteColor);
        border-right: 2px dotted var(--smoothWhiteColor);
      }
      &:nth-child(2) {
        border-bottom: 2px dotted var(--smoothWhiteColor);
      }
      &:nth-child(3) {
        border-right: 2px dotted var(--smoothWhiteColor);
      }
    }
  }
}
