.actionModal {
  position: absolute;
  width: 70%;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  background: var(--blackBgGradient);
  box-shadow: var(--shadow);
  padding: 2em 1em;
  border-radius: 5px;
  scale: 0;
  transition: scale 0.2s ease-in-out;
  z-index: 5;
  color: var(--whiteGoldColor);
  p {
    font-size: var(--fontSizeText);
    text-align: center;
    line-height: 1.5em;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 1em;
    button {
      font-size: 0.8rem;
      width: calc(50% - 1em);
    }
  }
  &.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 1;
    gap: 1.5em;
    border: 2px solid rgba(209, 181, 103, 0.3);
  }
}

@media screen and (min-width: 768px) {
  .actionModal {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .actionModal {
    position: fixed;
    width: 30%;
    right: calc(50% - 370px / 2);
    top: 50%;
    transform: translate(50%, -50%);
  }
}
