.page-content {
  background: var(--grayBgColor);
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0;
  height: 100vh;
  border-radius: 0;
  padding-top: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

h1 .title-map {
  font-size: 2.5rem;
  text-align: center;
  color: var(--whiteGoldColor);
  border: solid 2px var(--primaryColor);
  padding: 10px;
  border-radius: 10px;
}

.title-map {
  margin: 2rem;
  font-size: 1.5rem;
  color: var(--whiteGoldColor);
  border: solid 2px var(--primaryColor);
  padding: 10px;
  border-radius: 10px;
}

.map {
  height: 70vh;
  width: 60vw;
  border: solid 2px var(--whiteGoldColor);
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.leaflet-popup-content-wrapper {
  background: var(--blackBgGradient);
  opacity: 1;
  backdrop-filter: blur(0px);
  border: 4px solid var(--primaryColor);
  color: white;
  font-weight: 400;
}

b {
  color: var(--secondaryColor);
  font-weight: 700;
}

#root
  > div
  > div
  > div
  > div
  > div.leaflet-pane.leaflet-map-pane
  > div.leaflet-pane.leaflet-popup-pane
  > div
  > div.leaflet-popup-content-wrapper
  > div
  > div
  > div {
  color: var(--primaryColor);
}

#root
  > div
  > div
  > div
  > div
  > div.leaflet-pane.leaflet-map-pane
  > div.leaflet-pane.leaflet-popup-pane
  > div
  > a
  > span {
  color: var(--redWineColor);
  font-weight: bold;
  left: 8px;
}

@media screen and (max-width: 768px) {
  .page-content {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  header {
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 1rem;
    text-align: center;
  }

  .logo {
    margin: 0;
  }

  img.logo {
    height: 50px;
    width: 50px;
  }

  .map {
    height: 70vh;
    width: 100vw;
    border: solid 4px var(--whiteGoldColo);
  }
}
