.login,
.loginContentDiv,
.logoDiv,
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  min-height: 100dvh;
  height: 100%;
  width: 100%;
  background: url("../../assets/Red_Wine_Colors/Grenat.png"),
    var(--blackBgGradient);
  background-size: cover;
}

.loginContentDiv {
  gap: 1.5rem;
  width: 80%;
}

.logoDiv {
  color: var(--primaryColor);
  font-family: var(--fontFamilyTitle);
  font-size: var(--fontSizeH2);
}

.logo {
  width: min(8rem, 14rem);
  margin-bottom: 1rem;
}
.loginForm {
  width: 100%;
  gap: 2.5em;
}
.loginForm p {
  font-family: var(--fontFamilyText);
  color: var(--whiteGoldColor);
  letter-spacing: 0.1rem;
  font-size: var(--fontSizeText);
  margin-bottom: 1.5rem;
}

.loginForm div,
.loginForm input,
.loginForm button {
  width: 100%;
}
.hidePasswordButton {
  border: none;
  background: transparent;
}

.passwordInput {
  position: relative;
}
.passwordInput button {
  position: absolute;
  top: 0;
  right: 2%;
  width: auto;
}

.hidePasswordButton img {
  width: max(2rem, 1.5rem);
}

@media screen and (min-width: 768px) {
  .login {
    background-image: url(../../assets/Wine_Img/Winery.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .loginContentDiv {
    width: min(50%, 90vw);
    margin: 0 auto;
    background: var(--blackBgGradientSmooth);
    box-shadow: var(--shadow);
    backdrop-filter: var(--bgBlur);
    gap: 2.5em;
    padding: 2.5rem clamp(1rem, 10vw + 1rem, 10rem);
    border-radius: 5px;
  }

  .logoDiv {
    font-size: 50px;
  }

  .logo {
    width: min(10rem, 14rem);
  }
}
