.navBar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  height: 70px;
  background: var(--blackBgGradient);
  padding-inline: 1.2rem;
  z-index: 5;

  .logo-h1 {
    display: flex;
    gap: 10px;
    align-items: center;
    .titre-logo {
      color: var(--primaryColor);
      font-family: var(--fontFamilyTitle);
      font-size: 1.6rem;
      align-items: center;
      display: flex;
    }
  }

  .navbarpoppins {
    display: none;
    .link {
      .navbar-link {
        a {
          font-family: var(--fontFamilyText);
          color: var(--whiteGoldColor);
          text-decoration: none;
          font-size: 1.5rem;

          &:hover {
            color: var(--secondaryColor);
          }
        }
      }
    }

    &.open {
      display: block;
      position: fixed;
      top: 70px;
      left: 0;
      background: var(--blackBgGradient);
      width: 100dvw;
      height: calc(100vh - 70px);
      z-index: 5;

      .link {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .navbar-link {
          opacity: 0;
          animation: fadeIn 0.3s ease-in-out forwards;
          animation-delay: 0.1s;
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 1.6rem 1rem;
          a {
            font-size: 1.2rem;
          }

          &:hover {
            background-color: rgba(255, 251, 239, 0.1);
          }
        }
      }
    }
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    width: 26px;
    height: 20px;
    cursor: pointer;
    padding: 0;

    .bar {
      width: 100%;
      height: 2px;
      background-color: var(--primaryColor);
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

      &.open {
        transform: rotate(-180deg);

        &:last-child {
          transform: rotate(-180deg);
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .navBar {
    .logo-h1 {
      .titre-logo {
        color: var(--primaryColor);
        font-family: var(--fontFamilyTitle);
        font-size: 2rem;
        letter-spacing: 1;
        display: block;
      }
    }

    .navbarpoppins {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      .link {
        display: flex;
        gap: 2rem;

        .navbar-link {
          a {
            font-size: 1rem;
          }
        }
      }
    }

    .burger-menu {
      display: none;
    }
  }
}
