.card-revelation {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  width: clamp(240px, 4vw + 8rem, 20rem);
  background: var(--blackBgGradientSmooth);
  box-shadow: var(--shadow);
  backdrop-filter: var(--bgBlur);
  border-radius: 10px;
  margin: 1.5rem;
}

.card-disposition {
  justify-content: center;
}

h2.title-revelation {
  color: var(--primaryColor);
  font-family: var(--fontFamilyText);
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.revelation-card p {
  padding: 1rem;
  font-family: var(--fontFamilyText);
  color: white;
  font-size: 0.7rem;
  text-align: center;
  line-height: 15px;
}

.img-card {
  width: 100%;
}

.img .wine-img {
  height: 100px;
}

.h3-wine {
  text-align: center;
  padding: 15px;
  color: var(--primaryColor);
  font-weight: bold;
  font-family: var(--fontFamilyTitle);
}

@media (min-width: 768px) {
  .card-revelation {
    width: 90%;
    height: 100%;
    padding-top: 0;
  }

  .card-disposition {
    width: 100%;
  }

  .revelation-card {
    display: flex;
    flex-direction: row;
  }

  .card-text {
    display: flex;
    flex-direction: column;
  }

  .cardup {
    display: flex;
    flex-direction: row;
    height: 50%;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .carddown {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 50%;
    align-items: center;
    padding: 10px;
  }

  .img-card {
    width: 60%;

    display: flex;
  }

  .img .wine-img {
    height: 100%;
  }

  .h3-wine {
    display: flex;
    align-items: center;
  }

  .text-down {
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 20px;
  }

  @media (min-width: 900px) {
    .card-revelation {
      width: 80%;
    }

    .card-disposition {
      width: 90%;
    }
  }

  @media (min-width: 1110px) {
    .card-revelation {
      width: 80%;
    }

    .card-disposition {
      width: 80%;
    }
  }

  @media (min-width: 1400px) {
    .card-revelation {
      width: 70%;
    }

    .card-disposition {
      width: 80%;
    }
  }

  @media (min-width: 1600px) {
    .card-revelation {
      width: 60%;
    }
  }
}
