.footer {
  color: white;
  background: var(--blackBgGradient);
  height: 3rem;
  font-family: var(--fontFamilyText);
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100vw;
}

.copyright {
  color: var(--primaryColor);
  font-size: 25px;
  font-weight: bold;
}

@media (min-width: 768px) {
  footer {
    font-size: 1.3rem;
  }
}
