.userModification {
  background: var(--blackBgGradient);
  min-height: 100vh;

  .backButton {
    display: grid;
    place-items: center;
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 1.3em;
    color: rgba(255, 251, 239, 0.3);
    &:hover {
      color: var(--secondaryColor);
      cursor: pointer;
    }
  }

  .globalModifContainer {
    display: grid;
    place-items: center;

    .modifContent {
      width: 100%;
      max-width: 39rem;
      padding: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4em;
      h1 {
        font-size: var(--fontSizeH2);
        line-height: 1.3em;
        color: var(--primaryColor);
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.2em;
        width: 100%;
        .name {
          display: flex;
          width: 100%;
          justify-content: space-between;
          gap: 2em;
          .lastname,
          .firstname {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 1em;
            label {
              input {
                font-size: 1.2rem;
                width: 100%;
              }
            }
          }
        }

        .email {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 1em;

          #email {
            font-size: 1.2rem;
            width: 100%;
          }
        }

        .credentials {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 1em;
          background: var(--blackBgGradient);
          border-radius: 5px;
          width: 100%;
          gap: 1em;
          font-size: 1.5rem;
          color: var(--secondaryColor);
        }
      }
    }
  }
  .modalBg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--blackBgGradientSmooth);
    backdrop-filter: var(--bgBlur);
    display: grid;
    place-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .userModification {
    .backButton {
      font-size: 2em;
    }
    .globalModifContainer {
      padding-left: calc(370px);

      .modifContent {
        width: 60%;
        h1 {
          text-align: center;
        }
        form {
          gap: 3em;
          .name {
            #lastname,
            #firstname {
              font-size: 1.2rem;
            }
          }

          #email {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
