.workshopsContent {
  width: 100%;
  background: var(--blackBgGradient);
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  color: var(--whiteGoldColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1rem, 8vh, 3rem);
  overflow: hidden;

  table,
  th,
  td {
    padding: 1em 1.5em;
    border-collapse: collapse;
    text-align: left;
  }

  .tableHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    width: 90vw;
    margin-top: 4em;
    h1 {
      font-size: var(--fontSizeH2);
    }
    .searchOrAdd {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 1.6em;

      .addButton {
        padding: 0 0.8em;
        margin-right: 0.5rem;
      }
      .searchBar {
        width: 50%;
        &:hover,
        &:focus-within {
          width: 100%;
          box-shadow: var(--shadow);
        }
      }
    }
  }

  .tableSection {
    background: var(--blackBgGradientSmooth);
    backdrop-filter: var(--blur);
    box-shadow: var(--shadow);
    border-radius: 5px;
    width: 90vw;
    height: 80dvh;
    margin-bottom: 2em;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--smoothGoldColor);
      border-radius: 5px;
      visibility: hidden;
    }
    &::-webkit-scrollbar-corner {
      visibility: hidden;
    }
    &:hover::-webkit-scrollbar-thumb {
      visibility: visible;
    }

    .workshopsTable {
      width: 100%;

      thead {
        border-bottom: 1px solid rgba(209, 181, 103, 0.1);

        tr {
          width: 100%;
          th {
            cursor: pointer;
            position: sticky;
            color: var(--secondaryColor);
            top: 0;
            left: 0;
            background-color: var(--darkGoldColor);
            &:hover {
              background-color: var(--redWineColor);
            }

            div {
              display: flex;
              align-items: flex-end;
              gap: 1em;
            }
            i {
              display: grid;
              place-items: center;
              color: var(--whiteGoldColor);
            }
          }
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background-color: rgba(209, 181, 103, 0.05);
          }
          &:hover {
            background-color: rgba(209, 181, 103, 0.1);
            cursor: pointer;
          }

          td {
            vertical-align: middle;
            .redWine {
              width: 1.2rem;
              height: 1.2rem;
              border-radius: 50px;
              background-color: var(--redWineColor);
            }
            .commentary {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
              line-height: 1.5em;
            }
            .whiteWine {
              width: 1.2rem;
              height: 1.2rem;
              border-radius: 50px;
              background-color: #fee347;
            }
            .actionButtons {
              display: flex;
              gap: 1em;
              background-color: rgba(209, 181, 103, 0.1);
              padding: 0.3em;
              border-radius: 5px;

              .editBtn,
              .deleteBtn {
                font-size: 1rem;
                color: var(--secondaryColor);
                background: none;
                border: 1px solid rgba(209, 181, 103, 0.1);
                padding: 0.3em;
                border-radius: 5px;
                &:hover {
                  cursor: pointer;
                  color: var(--darkGoldColor);
                  background-color: var(--secondaryColor);
                  box-shadow: var(--shadow);
                }
                &:active {
                  background-color: var(--primaryColor);
                  box-shadow: none;
                }

                i {
                  display: grid;
                  place-items: center;
                }
              }
            }
          }
        }
      }
    }

    .workshopInfoModal {
      position: fixed;
      width: 100%;
      height: 100vh;
      height: 100dvh;
      overflow-y: scroll;
      top: 0;
      left: 0;
      background: var(--blackBgGradient);
      padding: 2em 2em;
      scale: 0;
      transition: scale 0.2s ease-in-out;
      z-index: 5;

      &.showInfo {
        scale: 1;
      }
      &::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--smoothGoldColor);
        border-radius: 5px;
        visibility: hidden;
      }
      &::-webkit-scrollbar-corner {
        visibility: hidden;
      }
      &:hover::-webkit-scrollbar-thumb {
        visibility: visible;
      }

      .closeModalBtn {
        position: fixed;
        display: grid;
        place-items: center;
        top: 1rem;
        right: 1rem;
        font-size: 1.6em;
        color: rgba(195, 180, 138, 0.5);
        cursor: pointer;
        &:hover {
          color: var(--secondaryColor);
        }

        i {
          display: grid;
          place-items: center;
          &::before {
            background: rgba(195, 180, 138, 0.1);
            border-radius: 50px;
          }
        }
      }

      .modalContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 1.6em;
        font-size: var(--fontSizeText);

        .workshopHeader {
          display: flex;
          flex-direction: column;
          align-items: center;

          h2 {
            font-size: var(--fontSizeH2);
            color: var(--primaryColor);
          }
          p {
            color: rgba(195, 180, 138, 0.5);
            font-style: italic;
          }
        }

        .workshopInfo {
          display: flex;
          flex-direction: column;
          gap: 1.5em;

          div > p:first-of-type {
            font-weight: 500;
            color: var(--secondaryColor);
            margin-bottom: 0.5em;
          }
          p {
            font-family: var(--fontFamilyText);
            line-height: 1.4em;
            font-weight: 200;
            font-size: 1rem;

            span {
              font-style: italic;
              color: rgba(195, 180, 138, 0.5);
              margin-left: 0.6em;
            }
          }
          .infoType {
            display: flex;
            gap: 1em;
            .redWine {
              width: 1.2rem;
              height: 1.2rem;
              border-radius: 50px;
              background-color: var(--redWineColor);
            }
            .whiteWine {
              width: 1.2rem;
              height: 1.2rem;
              border-radius: 50px;
              background-color: #fee347;
            }
          }
          .attendees {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1em;
            .userCard {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              gap: 1em;
              min-height: 5em;
              padding: 1em 0;
              padding-right: 1em;
              border-radius: 5px;
              background-color: var(--grayBgColor);

              .banner {
                width: 1rem;
                height: 6.8rem;
                border-radius: 0 50px 50px 0;
                &.red {
                  background-color: var(--redWineColor);
                }
                &.white {
                  background-color: #fee347;
                }
              }
              .userInfo {
                display: flex;
                flex-direction: column;
                gap: 1em;
                width: 100%;
                .nameInfo {
                  display: flex;
                  flex-direction: column;
                }
                .email {
                  color: var(--smoothWhiteColor);
                  font-weight: 200;
                }
                .pref {
                  font-size: 12px;
                  font-style: italic;
                }
              }

              p {
                color: var(--whiteGoldColor);
                font-weight: 500;
              }
            }
          }
        }
      }
    }

    .modalBg {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: var(--blackBgGradientSmooth);
      backdrop-filter: var(--bgBlur);
      display: grid;
      place-items: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .workshopsContent {
    .tableHeader {
      .searchOrAdd {
        .searchBar {
          width: 25%;
          &:hover,
          &:focus-within {
            width: 40%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .workshopsContent {
    padding-left: 370px;

    .tableHeader {
      width: calc(90vw - 370px);
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      margin-top: 4em;
      h1 {
        font-size: var(--fontSizeH2);
      }
      .searchOrAdd {
        justify-content: flex-end;
        .searchBar {
          width: 25%;
          &:hover,
          &:focus-within {
            width: 50%;
            box-shadow: var(--shadow);
          }
        }
      }
    }

    .tableSection {
      width: calc(90vw - 370px);
      height: auto;

      .workshopInfoModal {
        position: fixed;
        width: 50%;
        height: 80vh;
        height: 80dvh;
        top: 50%;
        left: calc(50% + 370px / 2);
        transform: translate(-50%, -50%);
        border-radius: 7px;
        padding: 2em 2em;
        border: 2px solid rgba(209, 181, 103, 0.2);

        p {
          font-weight: 300;
          font-size: 1.2rem;
        }

        .modalContent .workshopInfo .attendees .userCard .userInfo .pref {
          font-size: 16px;
        }
      }
    }
  }
}
