.sliders_container {
  display: flex;
  width: 80%;
  justify-content: center;
  flex-wrap: wrap;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  line-height: 3rem;
  padding: 2rem;
}

.Sliderbox:first-child {
  padding-top: 0;
}
.Sliderbox:last-child {
  padding-bottom: 0;
}

/* Sliders container elements */

.TitleSliders {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.Sliderbox img {
  height: 2.5rem;
}

/* -------------------------------- Tablet media queries--------------------------------- */

@media screen and (min-width: 768px) and (orientation: portrait) {
  .Sliderbox:nth-child(1) {
    padding: 0rem 1rem 2rem 0rem;
  }
  .Sliderbox:nth-child(2) {
    padding: 0rem 0rem 2rem 1rem;
  }
  .Sliderbox:nth-child(3) {
    padding: 2rem 1rem 0rem 0rem;
  }
  .Sliderbox:nth-child(4) {
    padding: 2rem 0rem 0rem 1rem;
  }
}

@media screen and (min-width: 768px) {
  .Sliderbox {
    width: 47%;
  }

  /* Dotted sliders separation*/

  .Sliderbox:nth-child(1) {
    padding: 0rem 0rem 2rem 0rem;
  }

  .Sliderbox:nth-child(2) {
    margin: 0;
    padding: 0rem 0rem 2rem 0rem;
  }

  .Sliderbox:nth-child(3) {
    margin: 0;
    padding: 2rem 0rem 0rem 0rem;
  }
  .Sliderbox:nth-child(4) {
    margin: 0;
    padding: 2rem 0rem 0rem 0rem;
  }
}
