/* global style of the page TasteStage2 */
.TasteStage2,
.contentTasteStage2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TasteStage2 {
  background: no-repeat bottom 9em left 40em
      url("../../assets/Gold_Blotches/Watercolor_Blotch_4.png"),
    no-repeat top 30em right 40em url("../../assets/Red_Wine_Colors/Cerise.png"),
    var(--blackBgGradient);
  color: var(--whiteGoldColor);
  font-family: var(--fontFamilyText);
  font-size: var(--fontSizeText);

  .contentTasteStage2 {
    gap: 3.2rem;
    padding: 2rem 1rem;

    .header {
      gap: 2rem;
    }

    .intro {
      .introText {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.4rem;
        line-height: 1.8rem;
      }
    }

    .formTasteStage2 {
      display: flex;
      flex-direction: column;
      gap: 2.5em;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}

/* -------------------------------- Tablet media queries--------------------------------- */

@media screen and (min-width: 768px) {
  .TasteStage2 {
    background: no-repeat bottom 9em left 4rem
        url("../../assets/Gold_Blotches/Watercolor_Blotch_1.png"),
      no-repeat top 42em right 5em
        url("../../assets/Gold_Blotches/Watercolor_Splatters 1.png"),
      var(--blackBgGradient);

    .contentTasteStage2 {
      gap: 4rem;
      padding: 2rem;

      .intro {
        .introText {
          gap: 1.6rem;
          line-height: 2.4rem;
        }
      }

      .formTasteStage2 {
        flex-direction: row;
        align-items: flex-start;
      }
    }
  }
}

/* -------------------------------- Desktop media queries--------------------------------- */

@media screen and (min-width: 1024px) {
  .TasteStage2 {
    background: no-repeat bottom 9em left 42rem
        url("../../assets/Red_Wine_Colors/Rouge_Noir.png"),
      no-repeat top 42em right 12em
        url("../../assets/Gold_Blotches/Watercolor_Splatters 1.png"),
      var(--blackBgGradient);
  }
}
