.start-degust {
  align-items: center;
  background-image: url(../../assets/Wine_Img/unsplash_VuZ9U7cWqc8.jpg);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.page-content {
  align-items: flex-start;
  background: var(--blackBgGradient);
  border-radius: 5px;
  opacity: 0.9;
  display: flex;
  gap: 10px;
  overflow: hidden;
  padding: 17px 24px;
  margin: 25px;
  margin-top: 4rem;
  width: auto;
}

button {
  border: 2px solid;
  border-color: var(--primaryColor);
  border-radius: 5px;
  display: flex;
  gap: 24px;
  overflow: hidden;
  padding: 9px 32px;
  position: relative;
  color: var(--primaryColor);
  background: var(--blackBgGradient);
  font-size: 1.2rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.text {
  align-self: stretch;
  color: #ffff;
  font-weight: 400;
  line-height: 25px;
  font-family: var(--fontFamilyText);
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 16px;
}

.title {
  align-self: stretch;
  color: var(--primaryColor);
  font-family: var(--fontFamilyTitly);
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.box {
  flex: 1;
  flex-direction: column;
  gap: 32px;
  width: auto;
}

.logo {
  display: none;
}

@media (min-width: 768px) {

  .start-degust {
    display: flex;
    align-items: center;
  }

  .page-content {
    display: flex;
    margin-top: 59px;
    overflow: hidden;
    padding: 40px 89px;
    height: auto;
    height: auto;
    width: 60vw;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }

  .text {
    align-self: auto;
    color: #ffff;
    font-weight: 400;
    line-height: 42px;
    position: relative;
    font-size: auto;
  }

  .logo {
    display: block;
    height: 105px;
    margin-right: 0.76px;
    margin-top: 62px;
    width: 105px;
  }


  .box {
    flex-direction: column;
    gap: 54px;
    margin-left: 1px;
    width: 695px;
    width: auto;
  }
}