.startDegust {
  align-items: center;
  background: no-repeat 900px 80%
      url("../../assets/Red_Wine_Colors/Framboise.png"),
    var(--blackBgGradient);
  border: 1px none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 2.4rem;

  .pageContentDegust {
    background: var(--blackBgGradientSmooth);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 950px;
    padding: 17px 24px;
    backdrop-filter: var(--bgBlur);
  }

  .textDegust {
    text-align: left;
    color: #ffff;
    font-weight: 400;
    line-height: 25px;
    font-family: var(--fontFamilyText);
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 16px;
    width: 100%;
  }

  .titleDegust {
    text-align: center;
    color: var(--primaryColor);
    font-family: var(--fontFamilyTitle);
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    display: block;
  }

  .box {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .startDegust {
    display: flex;
    align-items: center;
    height: 100vh;
    object-fit: center;

    .pageContent {
      display: flex;
      width: 70vw;
      align-items: center;
      flex-direction: column;
      align-items: center;
    }

    .textDegust {
      text-align: center;
      font-size: 24px;
      line-height: 2rem;
    }

    .box {
      flex-direction: column;
      align-items: center;
      margin-left: 1px;
      width: auto;
    }
  }
}
