.start-degust {
  align-items: flex-end;
  background-image: url(../../assets/Wine_Img/unsplash_VuZ9U7cWqc8.jpg);
  object-fit: cover;
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.page-content {
  align-items: flex-start;
  background: var(--blackBgGradientSmooth);
  border-radius: 5px;
  backdrop-filter: var(--bgBlur);
  display: flex;
  gap: 10px;

  padding: 17px 24px;
  margin: 25px;
}

.text {
  text-align: center;
  color: #ffff;
  font-weight: 400;
  line-height: 25px;
  font-family: var(--fontFamilyText);
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 14px;
  position: relative;
  width: 100%;
}

.title {
  text-align: center;
  color: var(--primaryColor);
  font-family: var(--fontFamilyTitly);
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.box {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 32px;

  height: auto;
}

.logo {
  display: none;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  height: auto;
}

@media (min-width: 768px) {
  .start-degust {
    display: flex;
    align-items: center;

    height: 100vh;
    background-position: center;
  }

  .page-content {
    display: flex;

    /* overflow: hidden; */
    padding: 40px 89px;
    height: auto;

    width: 70vw;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }

  .text {
    color: #ffff;
    font-weight: 400;
    position: relative;
    font-size: 20px;
    text-align: center;
  }

  .logo {
    display: block;
    height: 120px;
    margin-top: 3rem;

    width: 120px;
  }

  H1 {
    font-size: 30px;
  }

  .box {
    flex-direction: column;
    gap: 54px;
    margin-left: 1px;
    width: auto;
    height: 100%;
  }
}
