.page-container {
  align-items: center;
  background: no-repeat left url("../../assets/Red_Wine_Colors/Framboise.png"),
    var(--blackBgGradient);
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
}

.titleContainer {
  margin: 2rem min(2rem, var(--marginPageContent));
  margin-bottom: 5rem;
}

.checkboxes {
  color: white;
  font-family: var(--fontFamilyText);
  margin-top: 2rem;
}

.img,
picture,
svg {
  color: var(--primaryColor);
}

.nose1,
.nose2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  position: relative;
  width: 320px;
}

.nose1,
.nose2,
h2 {
  display: flex;
  justify-content: center;
  font-family: var(--fontFamilyTitle);
  color: var(--primaryColor);
  font-size: 1.5rem;
}

.nose1,
.nose2 p {
  color: white;
  font-weight: 400;
  line-height: 31.5px;
  text-align: center;
  font-family: var(--fontFamilyText);
  font-size: 1rem;
  margin-top: 10px;
}

.aromas {
  backdrop-filter: blur (10px);
  background: var(--blackBgGradientSmooth);
  box-shadow: var(--shadow);

  border-radius: 5px;
  backdrop-filter: var(--bgBlur);
  margin-top: 2rem;
  margin-bottom: 2rem;
  animation: none;
}

.aromas h3 {
  color: white;
  font-style: italic;
  font-weight: 400;
  margin: 1rem;
  font-family: var(--fontFamilyTe);

  text-align: center;
}

.aromas img {
  height: 104px;
  width: 104px;
  border-radius: 60px;
  margin: 20px;
  transition: border-color 0.3s, box-shadow 0.3s;
  position: relative;
  object-fit: cover;
  margin: 1rem;
}

.aromas img.selected {
  border: 1px solid var(--primaryColor);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.aromas .img-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.aromas img:hover .img-overlay,
.aromas img.selected .img-overlay {
  opacity: 1;
}

.aromas .img-overlay {
  pointer-events: none;
}

.aromasSelection {
  display: flex;
  position: relative;
}

.aromasSelection .round {
  position: relative;
}

.aromasSelection .round.selected:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 12px;
  width: 112px;
  height: 112px;
  outline: 1px solid var(--primaryColor);
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--primaryColor);
}

.aromasSelection .round.selected:after {
  content: attr(data-name);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50%, -50%;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(228, 39, 39);
}

.aromasSelection .round.selected .img-overlay {
  opacity: 1;
}

.aroma-name {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--fontFamilyTitle);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3px;
  background: var(--blackBgGradientSmooth);
  width: 76.7%;
  border-radius: 3px;
}

.colonne1 {
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
  width: fit-content;
}

.button-container {
  margin: 2rem;
}

@media screen and ((min-width: 1024px)) {
  .page-container {
    background: no-repeat top 20em right 58em
        url("../../assets/Red_Wine_Colors/Framboise.png"),
      no-repeat bottom 9em left 26em, var(--blackBgGradient);
  }

  .nose1,
  .nose2 {
    display: flex;
    flex: auto;
    width: 80%;
  }

  .nose1,
  .nose2,
  p {
    width: 75%;
    font-size: 1rem;
  }

  .checkbox {
    display: flex;
    gap: 80px;
  }

  .aromasSelection {
    display: flex;
    flex-direction: column;
  }

  .colonne1 {
    display: flex;
    flex-direction: row;
  }

  .colonne2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .aromasSelection .round.selected:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 50%;

    transform: translateX(-50%);

    width: 112px;
    height: 112px;
    border: 1px solid var(--primaryColor);
    border-radius: 50%;
    box-shadow: 0 0 0 2px var(--primaryColor);
  }
}
