.visualStage2,
.contentStage2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.visualStage2 {
  height: 100%;
  background: no-repeat left url("../../assets/Red_Wine_Colors/Pourpre.png"),
    var(--blackBgGradient);
  color: var(--whiteGoldColor);
  font-family: var(--fontFamilyText);
  font-size: var(--fontSizeText);
}

.contentStage2 {
  gap: 4rem;
  margin: 2rem min(2rem, var(--marginPageContent));
  margin-bottom: 5rem;
}

.checkboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: baseline;
  justify-content: center;
}

/* -------------------------------- Desktop media queries--------------------------------- */

@media screen and (min-width: 1024px) {
  .visualStage2 {
    background: no-repeat top 18em right 28em
        url("../../assets/Red_Wine_Colors/Pourpre.png"),
      no-repeat bottom 9em left 26em
        url("../../assets/Gold_Blotches/Watercolor_Blotch_4.png"),
      var(--blackBgGradient);
  }
  .contentStage1 {
    gap: 5rem;
  }
}
